body{
    margin: 20vh 10vw;
}
.container{
    display: flex;
}
img{
    height: 10vw;
    margin: 20px;
}

.item1 img{
    width: 280px;
    margin: 20px;
}
.item2 img{
    width: 150px;
    margin: 20px;
}